[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anchell
[access "refs/for/refs/*"]
	read = group user/anchell
	push = group user/anchell
	label-Code-Review = -2..+2 group user/anchell
	label-Verified = -1..+1 group user/anchell
	rebase = group user/anchell
	removeReviewer = group user/anchell
	submit = group user/anchell
[access "refs/heads/*"]
	read = group user/anchell
	create = group user/anchell
	push = +force group user/anchell
	pushMerge = group user/anchell
[access "refs/tags/*"]
	push = group user/anchell
	push = +force group user/anchell
